---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
    </figure>
    <p>Papa T is a creative man in his late 40's who has a passion for making things. He has a particular talent for wood working and enjoys using his hands to craft beautiful pieces from natural materials.</p>
    <p>As a proud father of two twin girls and one boy, Papa T is always looking for new projects to tackle. Whether it's fixing up a car or building furniture, he loves to work with his hands and bring his ideas to life.</p>
    <p>When he's not busy with his latest project, Papa T can be found spending time with his family, including his wife who was recently named Teacher of the Year for their city. He's a family man at heart, and loves nothing more than creating memories and making the world a better place for those he loves.</p>
    <p>Aside from woodworking, Papa T is also a fan of car restoration, particularly Jeeps. He loves taking old vehicles and breathing new life into them, turning them into works of art on wheels.</p>
    <p>Follow along as Papa T shares his passions, projects, and adventures on this blog. Whether you're a fellow maker, a DIY enthusiast, or just curious, there's something for everyone here.</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
