<div>
  <img src="/assets/oldman.png" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Papa T</strong>. I'm a Pilot based in Alabama.
    You can follow me on <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Twitter</a>,
    or read more about me on <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
